* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Ubantu, "Open Sans", Montserrat;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding-bottom: 80px;
  background: linear-gradient(to right, #4ebefe, #3891db);
}

.logo {
  margin: 60px 0;
}

.title {
  width: 560px;
  margin-bottom: 70px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 37px;
}

.title span {
  font-size: 59px;
}

.intro {
  width: 390px;
  margin-bottom: 40px;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.button {
  display: block;
  width: 222px;
  padding: 16px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: black;

  background: #ffd429;
  transition: 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: block;
  width: 70%;
  height: auto;
}

.img-wrp {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 515px;
  height: 515px;
  border-radius: 50%;
  background: #5cb2ee;
  box-shadow: 0px 11px 79px rgba(0, 0, 0, 0.09);
}
.learn {
  padding: 100px 0;
}

.ahead {
  margin: 0 auto;
  margin-bottom: 75px;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.future {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
}

.item-img {
  width: auto;
  padding-bottom: 35px;
}

.item-title {
  margin: 0;
  padding-bottom: 15px;
}

.mail {
  background-color: #ecf3f8;
  padding: 95px 0 105px;
}

.ticket {
  margin-bottom: 58px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: center;
}

form {
  display: block;
  width: 340px;
  margin: 0 auto;
}

input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

[type="submit"] {
  width: 100%;
}

.rights {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
}

.footer {
  padding: 62px 0;
  background: #164d7a;
  text-align: center;
}
